@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

body {
    font-family: "Kaushan Script";
}



.navbarGrow {
    position: relative;
    animation: navbar 0.3s ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.navbarShrink {
    position: relative;
    animation: navbarReverse 0.4s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/*can i just reverse already done animation without creating new one*/
@keyframes navbar {
    0% {top: 0px;}
    100% {top: 160px}
}

@keyframes navbarReverse {
    0% {top: 160px}
    100% {top: 0px}
}

#headerID {
    filter: opacity(70%) saturate(110%);
    background-color: yellow;
}

#parentID #imgID:hover + #borderID {
    animation: border 1s linear 0s 1 forwards;
}

/*
.borderReverse {
    animation: border 1s linear 0s 1 forwards reverse;
}

*/


@keyframes border {
    0% {left: 8rem; top: 4rem;}
    100% {left: 9.28rem; top: 5.5rem;}
}





/*
hover:scale-90 hover:duration-500 hover:ease-linear
*/